# Eat Safe, Love

## Notebook Set Up

In [74]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [75]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [76]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [77]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [78]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [88]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':{'$eq': 20}}

# Use count_documents to display the number of documents in the result

print("Number of documents in result:", establishments.count_documents(query))

# Display the first document in the results using pprint
establishments.count_documents({})

# Display the first document in the results using pprint

pprint("First result:")
results = establishments.find(query)
pprint(results)

Number of documents in result: 0
'First result:'
<pymongo.cursor.Cursor object at 0x125129e10>

In [80]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [81]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName':{'$regex':'London'}, 'RatingValue':{'$gte':'4'}}

# Use count_documents to display the number of documents in the result
print("number of documents:", establishments.count_documents(query))

# Display the first document in the results using pprint

pprint("First document:")
results_london = establishments.find(query)
# pretty print the first document
for i in range(1):
    pprint(results_london)

number of documents: 0
'First document:'
<pymongo.cursor.Cursor object at 0x124f77350>

In [82]:
# Convert the result to a Pandas DataFrame
result_london_df = pd.DataFrame(results_london)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_london_df))

# Display the first 10 rows of the DataFrame
result_london_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [83]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {'geocode.latitude':{'$lte':latitude+degree_search, '$gte':latitude-degree_search},
         'geocode.longitude':{'$lte':longitude+degree_search, '$gte':longitude-degree_search},'RatingValue':{'$eq':'5'}} 
sort = [('scores.Hygiene',1)]
limit = 5

results = list(establishments.find(query).sort(sort).limit(limit))

# Print the results
pprint(results)

[]

In [84]:
# Convert result to Pandas DataFrame
penang_df = pd.DataFrame(results)
penang_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [85]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0

match_query = {'$match': {'scores.Hygiene':{'$eq': 0}}}


# 2. Groups the matches by Local Authority

group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1 }}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 }}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result

print("Number of rows in result: ", len(results))


# Print the first 10 results
pprint(results[0:10])

Number of rows in result:  0
[]

In [86]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head()

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []